---
layout: page
---
{% if site.online %}
<div class="container" id="error">
   <h1 class="header center red-text">Error</h1>
   <br>
   <br>
   <h5 class="center">Er is iets fout gegaan. Probeer het op een later moment opnieuw.</h5>
</div>
<div class="container" id="start">
   <h1 class="header center orange-text">Enqu&#xEA;te</h1>
   <div class="row center">
      <h5 class="header col s12 light">{{ site.introductie }}</h5>
   </div>
   <div class="row center">
      <a id="beginnen" class="btn-large waves-effect waves-light orange">Beginnen</a>
   </div>
   <br>
   <br>
</div>
<div class="container" id="vraag1">
   <h3 class="header center orange-text">{{ site.vraag1 }}</h3>
   <br>
   <div class="row center checklist">
      <form class="vakkenmoeite">
      </form>
   </div>
   <div class="row center">
      <a id="volgende1" class="btn-large waves-effect waves-light orange">Volgende</a>
   </div>
   <br>
   <br>
</div>
<div class="container" id="vraag2">
   <h3 class="header center orange-text">{{ site.vraag2 }}</h3>
   <br>
   <div class="row center checklist">
      <form class="vakkenuitdaging">
      </form>
   </div>
   <div class="row center">
      <a id="volgende2" class="btn-large waves-effect waves-light orange">Volgende</a>
   </div>
   <br>
   <br>
</div>
<div class="container" id="vraag3">
   <h4 class="header center orange-text">{{ site.vraag3 }}</h4>
   <br>
    <form>
    <p>
      <input name="vraag3" type="radio" id="3ja" />
      <label for="3ja">Ja, namelijk <div class="input-field col s12">
          <input id="vraag3i" type="text" class="validate">
          <label for="vraag3i" data-error="wrong" data-success="right">Biologie steunles, brugman, etc.</label>
        </div></label>
    </p>
    <p>
      <input name="vraag3" type="radio" id="3nee" />
      <label for="3nee">Nee</label>
    </p>
  </form>
   <br><br><div class="row center">
      <a id="volgende3" class="btn-large waves-effect waves-light orange">Volgende</a>
   </div>
   <br>
   <br>
</div>
<div class="container" id="vraag4">
   <h4 class="header center orange-text">{{ site.vraag4 }}</h4>
   <br>
     <form>
    <p>
      <input name="vraag4" type="radio" id="4ja" />
      <label for="4ja">Ja, namelijk <div class="input-field col s12">
          <input id="vraag4i" type="text" class="validate">
          <label for="vraag4i" data-error="wrong" data-success="right">Leesclub, kookclub, schoolkrant, etc.</label>
        </div></label>
    </p>
    <p>
      <input name="vraag4" type="radio" id="4nee" />
      <label for="4nee">Nee</label>
    </p>
  </form>
   <br><br><div class="row center">
      <a id="volgende4" class="btn-large waves-effect waves-light orange">Volgende</a>
   </div>
   <br>
   <br>
</div>
<div class="container" id="vraag5">
   <h4 class="header center orange-text">{{ site.vraag5 }}</h4>
   <br>
   <div class="row center checklist">
      <form class="vakkenverveling">
      </form>
   </div>
   <div class="row center">
      <a id="volgende5" class="btn-large waves-effect waves-light orange">Volgende</a>
   </div>
   <br>
   <br>
</div>
<div class="container" id="vraag6">
   <h4 class="header center orange-text">{{ site.vraag6 }}</h4>
   <br>
   <form>
    <p>
      <input name="vraag6" type="radio" id="6ja" />
      <label for="6ja">Ja</label>
    </p>
    <p>
      <input name="vraag6" type="radio" id="6nee" />
      <label for="6nee">Nee</label>
    </p>
  </form>
   <br><br><div class="row center">
      <a id="klaar" class="btn-large waves-effect waves-light orange">Volgende</a>
   </div>
   <br>
   <br>
</div>
<div class="container" id="einde">
   <h1 class="header center orange-text">Einde</h1>
   <br>
   <h5 class="center">{{ site.einde }}</h5>
</div>
<div class="container" id="magister">
   <h2 class="header center orange-text"><i class="medium material-icons bottom">group</i> Magister</h2>
   <div class="section magister">
      <form class="col s12">
         <div class="row">
            <div class="input-field col s12">
               <input id="username" type="text" class="validate">
               <label for="username">Gebruikersnaam</label>
            </div>
            <div class="input-field col s12">
               <input id="password" type="password" class="validate">
               <label for="password">Wachtwoord</label>
            </div>
         </div>
      </form>
      <button class="btn waves-effect waves-light" id="login" type="submit" name="action">Inloggen
      <i class="material-icons right">send</i>
      </button>
   </div>
   <div class="magisterspinner">
      <div class="col s12 m4 center">
         <BR>
         <BR>
         <BR>
         <BR>
         <BR>
         <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
               <div class="circle-clipper left">
                  <div class="circle"></div>
               </div>
               <div class="gap-patch">
                  <div class="circle"></div>
               </div>
               <div class="circle-clipper right">
                  <div class="circle"></div>
               </div>
            </div>
            <div class="spinner-layer spinner-red">
               <div class="circle-clipper left">
                  <div class="circle"></div>
               </div>
               <div class="gap-patch">
                  <div class="circle"></div>
               </div>
               <div class="circle-clipper right">
                  <div class="circle"></div>
               </div>
            </div>
            <div class="spinner-layer spinner-yellow">
               <div class="circle-clipper left">
                  <div class="circle"></div>
               </div>
               <div class="gap-patch">
                  <div class="circle"></div>
               </div>
               <div class="circle-clipper right">
                  <div class="circle"></div>
               </div>
            </div>
            <div class="spinner-layer spinner-green">
               <div class="circle-clipper left">
                  <div class="circle"></div>
               </div>
               <div class="gap-patch">
                  <div class="circle"></div>
               </div>
               <div class="circle-clipper right">
                  <div class="circle"></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% elsif site.gesloten %}
{% include gesloten.html %}
{% else %}
{% include offline.html %}
{% endif %}